<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ssau-chat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0C4AB411DE1D4AE0043D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C4AB5A1DE1D4AF0043D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C4AB651DE1D4AF0043D1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
